.footer {
    display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      margin-bottom: 1rem;
    }

    .footer p:hover{
        border: 1px dashed black;
        transition: all 0.4s ease;
        border-radius: 4px;
        padding: 2px;
        cursor: pointer;
    }

    .footer a{
        color:black;
        text-decoration: none;
    }