body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
}

.App {
  background-color: white;
  width: 550px;
  height: auto;
  font-style: normal;
  border-radius: 10px;

}

.card-line {
  border: 1px solid #f5f5f5  ;
}


.card-line:last-child {
  display: none;
}

hr{
    border: 0;
    height: 0.5px;
    background-image: linear-gradient(to right, rgba(54, 54, 54, 0), rgba(94, 93, 93, 0.75), rgba(71, 71, 71, 0));
}
